<div class="section no-pad-bot center" id="contacts">
    <div class="container">
        <div class="row map-wrap">
                <div class="col s12 m12 l6">
                  <div class="metro-title">м.Сокол</div>
                  <div id="map-canvas-left"></div>
                  <div class="metro-address">г.Москва, Малый Песчаный переулок, 2а</div>
                </div>
                <div class="col s12 m12 l6">
                  <div class="metro-title">м.Арбатская</div>
                  <div id="map-canvas-right"></div>
                  <div class="metro-address">г.Москва, Новый Арбат, 7 корп.1, 6й этаж</div>
                </div>
        </div>
    </div>
    <div class="back-wrap phone-mail-back-wrap">
        <div class="phone-mail white-text">
            <span class="phone">телефон: +7(964)587 05 37</span>
            <span>почта: <a href="mailto:arina.aleksandrovna@gmail.com" >arina.aleksandrovna@gmail.com</a></span>
        </div>
    </div>

    <!-- mobile view for 2 addresses -->
    <dl class="contact-overlay white-text">
        <dt class="contact-title">
            <span class="pink lighten-2">телефон:</span>
        </dt>
        <dd class="contact-desc">+7(964)587 05 37</dd>
        <dt class="contact-title">
            <span class="pink lighten-2">почта:</span>
        </dt>
        <dd class="contact-desc">
            <a href="mailto:arina.aleksandrovna@gmail.com" class="white-text">arina.aleksandrovna@gmail.com</a>
        </dd>
        <dt class="contact-title">
            <span class="pink lighten-2">м.Сокол:</span>
        </dt>
        <dd class="contact-desc">
            <a href="https://goo.gl/maps/jzhHJ7ceATB2" target="_blank" class="white-text">г.Москва, Малый Песчаный переулок, 2а</a>
        </dd>
        <dt class="contact-title">
            <span class="pink lighten-2">м. Арбатская:</span>
        </dt>
        <dd class="contact-desc">
            <a href="http://www.dancefirst.ru/shkola-tancev-arbatskaya" target="_blank" class="white-text">г.Москва, Новый Арбат, 7 корп.1, 6й этаж</a>
        </dd>
    </dl>

</div>
