<div class="section" id="about">
    <img src="static/img/arina/top.jpg" class="main-top responsive-img" alt="Арина Бодина - хореограф, педагог">
    <img src="static/img/arina/05.jpg" class="mobile-top responsive-img" alt="Арина Бодина - хореограф, педагог">
    <div class="container teaser">
        <p>Арина Бодина, педагог-хореограф с 10-летним стажем. Художественный руководитель студии &laquo;Территория гармонии&raquo;.Профессионально работает с детьми и взрослыми. Автор программы <a href="static/pdf/arina-bodina-program.pdf" target="_blank">&laquo;Партерная гимнастика и ритмика&raquo;</a> для дошкольников.</p>
        <p>Проводит регулярные занятия и мастер-классы по <a href="#classes" class="scroll-btn">Пилатесу</a> (Pilates), <a href="#classes" class="scroll-btn">Растяжке</a> (Stretching), <a href="#classes" class="scroll-btn">Классическому танцу</a> (Балет для взрослых), <a href="#classes" class="scroll-btn">Зумбе</a> (Zumba), <a href="#classes" class="scroll-btn">Народным танцам</a> (Танцы народов мира). Постановщик свадебных танцев. Занимается подготовкой к поступлению в творческие вузы.</p>
        <p>В течении преподавательской карьеры поставила более 100 танцевальных номеров. Лауреат фестивалей танца в Москве, Санкт-Петербурге, Чебоксарах. Солистка ансамбля &laquo;Ровесник&raquo;, успешно гастролировавшего по городам России и Европы.
        </p>
    </div>
    <div class="about-text amber lighten-4">
      <div class="container">
          <div class="row">
              <div class="col s12 m12 l8">
                  <p>Возможно, вы&nbsp;думаете, что танцы&nbsp;&mdash; это не&nbsp;для вас. Быть может, ещё в&nbsp;детстве вас убедили, что вы&nbsp;человек неловкий, неуклюжий, что у&nbsp;вас нет чувства ритма или у&nbsp;вас плохой музыкальный слух. Я, Арина Бодина, ответственно вам на&nbsp;это заявляю: это всё глупости! Существует огромное количество людей, не&nbsp;умеющих танцевать, но&nbsp;нет ни&nbsp;одного, кто не&nbsp;мог&nbsp;бы этому научиться.</p>
                  <blockquote> Я&nbsp;в&nbsp;таких случаях всегда говорю: если поймешь, что хочешь заниматься танцем, то&nbsp;будешь делать такие вещи, какие казались совершенно невозможными раньше!</blockquote>
                  <p>Тем, кого одолевают сомнения и&nbsp;страхи, настоятельно советую просто прийти и&nbsp;попробовать. Вы&nbsp;позабудете о&nbsp;своей неуверенности, как только увидите свои первые успехи. И&nbsp;ещё немало удивитесь, когда поймёте, какой вы&nbsp;на&nbsp;самом деле человек грациозный, ловкий и&nbsp;гибкий.
                  </p>
                  <p>Наша студия&nbsp;&mdash; это место отдыха души и&nbsp;тела. Но&nbsp;не&nbsp;пассивного лежания на&nbsp;боку в&nbsp;попытках восстановить силы. Нет, это отдых в&nbsp;движении, отдых в&nbsp;танце, который даёт больше энергии, чем забирает. Это выход на&nbsp;иной уровень энергетики и&nbsp;силы. Приходите, и&nbsp;убедитесь сами. Я&nbsp;и&nbsp;мои ученики&nbsp;&mdash; мы&nbsp;будем рады видеть вас, и&nbsp;с&nbsp;удовольствием примем в&nbsp;нашу дружную непоседливую семью.
                  </p>
              </div>
              <div class="col s12 m12 l4 about-img-col">
                  <img src="static/img/arina/01.jpg" class="about-text-img responsive-img" alt="Арина Бодина - хореограф, педагог">
                    <ul class="socials">
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://instagram.com/arina_body/" target="_blank">
                                <img src="/static/img/socials/inst-black.svg" alt="arina-instagram">
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://www.facebook.com/groups/arinabodina/" target="_blank">
                                <img src="/static/img/socials/fb-black.svg" alt="arina-facebook">
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://vk.com/club15081804" target="_blank">
                                <img src="/static/img/socials/vk-black.svg" alt="arina-vkontakte">
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="http://www.youtube.com/channel/UCdRDrcDrhC5n8TY9-JuycXQ" target="_blank">
                                <img src="/static/img/socials/yt-black.svg" alt="arina-youtube">
                            </a>
                        </li>
                    </ul>
              </div>
          </div>
          <div>
          </div>
      </div>
    </div>
</div>