<div class="section no-pad-bot" id="contacts">
    <div class="map-wrap">
        <h4 class=" pink-text text-lighten-2">м.Сокол</h4>
        <div class="contact-overlay-wrap">
            <dl class="contact-overlay white-text">
                <dt class="contact-title">
                    <span class="pink lighten-2">телефон:</span>
                </dt>
                <dd class="contact-desc">+7(964) 587 05 37</dd>
                <dt class="contact-title">
                    <span class="pink lighten-2">почта:</span>
                </dt>
                <dd class="contact-desc">
                    <a href="mailto:arina.aleksandrovna@gmail.com" class="white-text">arina.aleksandrovna@gmail.com</a>
                </dd>
                <dt class="contact-title">
                    <span class="pink lighten-2">м. Сокол:</span>
                </dt>
                <dd class="contact-desc">г.Москва, Малый Песчаный переулок, 2а</dd>
            </dl>
        </div>
        <div id="map-canvas"></div>
    </div>
</div>
