@font-face {
  font-family: "fontcustom";
  src: url('../font/social/fontcustom_5533b1cf182a51a531cf7d095cf89313.eot');
  src: url('../font/social/fontcustom_5533b1cf182a51a531cf7d095cf89313.eot?#iefix') format("embedded-opentype"),
        url('../font/social/fontcustom_5533b1cf182a51a531cf7d095cf89313.woff') format("woff"),
        url('../font/social/fontcustom_5533b1cf182a51a531cf7d095cf89313.ttf') format("truetype"),
        url('../font/social/fontcustom_5533b1cf182a51a531cf7d095cf89313.svg?#fontcustom') format("svg");
  font-weight: normal;
  font-style: normal;
}
.social-icon:before {
    display: inline-block;
    font-family: "fontcustom";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.icon-fb:before {
  content: "\f157";
}
.icon-vk:before {
  content: "\f1ed";
}
.icon-youtube:before {
  content: "\f130";
}
.icon-instagram:before {
  content: "\f119";
}
.sharing-link {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 32px
}
.sharing-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

@font-face {
    font-family: 'rage_italicregular';
    src: url('../font/rage/27786-webfont.eot');
    src: url('../font/rage/27786-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/rage/27786-webfont.woff2') format('woff2'),
         url('../font/rage/27786-webfont.woff') format('woff'),
         url('../font/rage/27786-webfont.ttf') format('truetype'),
         url('../font/rage/27786-webfont.svg#rage_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pragmaticalightclight';
    src: url('../font/pragmatic/pt_pragmatica_extra_light-webfont.eot');
    src: url('../font/pragmatic/pt_pragmatica_extra_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pragmatic/pt_pragmatica_extra_light-webfont.woff2') format('woff2'),
         url('../font/pragmatic/pt_pragmatica_extra_light-webfont.woff') format('woff'),
         url('../font/pragmatic/pt_pragmatica_extra_light-webfont.ttf') format('truetype'),
         url('../font/pragmatic/pt_pragmatica_extra_light-webfont.svg#pragmaticalightclight') format('svg');
    font-weight: normal;
    font-style: normal;

}
#logo-container b{
    font-family: 'rage_italicregular';
}
#logo-container .choreo {
    /*font-family: 'pragmatic'*/

}




