{% extends "default.html" %}
{% load thumbnail %}

{% block header_links %}
<link rel="stylesheet" href="/static/css/magnific-popup.css">

<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //if change width value, change in site.js
        var isDesktopMode = document.body.offsetWidth >= 992;
        $('.button-collapse').sideNav({closeOnClick: true});
        $('.album-link').magnificPopup({

            type: 'image',
            image: {
                markup: '<div class="mfp-figure">'+
                            '<div class="close_vrapper">'+
                            '<div class="btn btn-large btn-floating btn-popup-close waves-effect waves-light grey darken-5 ">'+
                            '<i class="mdi-navigation-close"></i>'+
                            '<div class="mfp-close"></div>'+
                            '</div>'+
                            '<div class="mfp-img"></div>'+
                            '<div class="mfp-bottom-bar">'+
                              '<div class="mfp-title"></div>'+
                              '<div class="mfp-counter"></div>'+
                            '</div>'+
                          '</div>', 
                cursor: null

            },
            gallery: {
                enabled: true,

                arrowMarkup: '<button title="%title%" type="button" class=" btn-nav btn-floating btn-large waves-effect waves-light grey darken-5  btn-%dir% mdi-hardware-keyboard-arrow-%dir%" ></button>',
                tPrev: 'Previous (Left arrow key)',
                tNext: 'Next (Right arrow key)'
            }
        });

      /*function albumPhotosAnimation (itemSelector) {
        var time = 0;
        $(itemSelector).velocity(
            { 
                translateY: "300px",
                translateX: "-50px"
            },
            { duration: 0 });

        $(itemSelector).each(function() {
          $(this).velocity(
            { opacity: "1", translateY: "0", translateX: "0"},
            { duration: 900, delay: time, easing: [60, 10] });
          time += 50;
        });
      };

      if (isDesktopMode){
        albumPhotosAnimation('.album-link:lt(8)');
      }*/
    });
</script>
{% endblock %}

{% block content %}

<div class="navbar-fixed">
    <nav class="grey darken-5" role="navigation">
        <div>
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <div class="nav-wrap left">
                    <ul id="nav-mobile" class="left hide-on-med-and-down inner-menu">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <a href="/albums/.">Альбомы</a>
                        </li>
                    </ul>

                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                        <li>
                            <a href="/albums/">Альбомы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="section no-pad-bot">
    <div class="container">
        <div class="row albums-row">
            <h4 class="album-inner-title">{{ album.title }}</h4>
            {% for photo in photos %}
            <article class="col s6 m6 l3">
                {% thumbnail photo.image "1500" as big %}
                {% thumbnail photo.image "400x400" crop="center" as thumb %}
                <a href="{{ big.url }}" class="album-link">
                    <img src="{{ thumb.url }}" class="responsive-img" alt="{{ album.title }}">
                </a>
                {% endthumbnail %}
                {% endthumbnail %}
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
