<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Арина Бодина - танцовщица, хореограф и педагог.</title>
    <meta name="google-site-verification" content="enjJ-OSra7k7izZ4HEiSQaj1f6V0k-XQ0C88btq4myg" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Сайт Арины Бодиной, танцовщицы, хореографа и преподавателя танцев" />
    <meta property="og:description" content="Арина проводит регулярные занятия и мастер-классы по Пилатесу (Pilates), Растяжке (Stretching), Классическому танцу (Балет для взрослых), Зумбе (Zumba), Народным танцам (Танцы народов мира). Постановщик свадебных танцев. Занимается подготовкой к поступлению в творческие вузы." />
    <meta property="og:url" content="http://arinabodina.ru/" />
    <meta property="og:site_name" content="Арина Бодина" />
    <link rel="image_src" href="/static/img/meta/01.jpg"/>
    <meta property="og:image" content="/static/img/meta/01.jpg"/>
    <meta property="og:image:secure_url" content="/static/img/meta/01.jpg" />
    <meta name="keywords" lang="ru" content="Арина Бодина, танцы, Москва, зумба, zumba, пилатес, pilates, балет, классический танец для взрослых,
    растяжка, stretching, свадебный танец, постановка свадебного танца в Москве, ритмика для детей, классический танец для детей, метро Аэропорт, метро Арбатская"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/customfont.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <link rel="icon" href="/static/img/favicon.png"/>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script-->
    <script type="text/javascript" src="/static/js/materialize.js"></script>
    {% block header_links %}{% endblock %}
</head>

<body>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KFL6BM"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KFL6BM');</script>
	<!-- End Google Tag Manager -->

    {% block content %}{% endblock %}
    <footer class="page-footer pink lighten-2">
            <div class="row">
                <div class="container">
                <div class="col s12 m6 l3">
                    <div class="footer-img-wrap">
                        <img src="/static/img/arina/1.png" class="responsive-img" alt="Арина Бодина">
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <h5 class="white-text footer-subtitle">Для взрослых</h5>
                    <ul>
                        <li><a href="/#classes" class="white-text scroll-btn">Классический танец</a></li>
                        <li><a href="/#classes" class="white-text scroll-btn">Зумба</a></li>
                        <li><a href="/#classes" class="white-text scroll-btn">Растяжка</a></li>
                        <li><a href="/#classes" class="white-text scroll-btn">Пилатес</a></li>
                        <li><a href="/#classes" class="white-text scroll-btn">Свадебный танец</a></li>
                        <li><a href="/#classes" class="white-text scroll-btn">Народный танец</a></li>
                    </ul>
                </div>
                <div class="col s12 m6 l3">
                    <h5 class="white-text footer-subtitle">Для детей</h5>
                    <ul>
                        <li><a href="/#for-children" class="white-text scroll-btn">Ритмика</a></li>
                        <li><a href="/#for-children" class="white-text scroll-btn">Народный танец</a></li>
                        <li><a href="/#for-children" class="white-text scroll-btn">Эстрадный танец</a></li>
                        <li><a href="/#for-children" class="white-text scroll-btn">Классический танец</a></li>
                    </ul>
                </div>
                <div class="col s12 m6 l3">
                    <h5 class="white-text footer-subtitle">Присоединяйтесь</h5>
                    <ul class="socials">
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://instagram.com/arina_body/" target="_blank">
                                <img src="/static/img/socials/inst.svg">
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://www.facebook.com/groups/arinabodina/" target="_blank">
                                <img src="/static/img/socials/fb.svg">
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://vk.com/club15081804" target="_blank">
                                <img src="/static/img/socials/vk.svg">
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="http://www.youtube.com/channel/UCdRDrcDrhC5n8TY9-JuycXQ" target="_blank">
                                <img src="/static/img/socials/yt.svg">
                            </a>
                        </li>
                    </ul>
                </div>

                </div>
            </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; Арина Бодина<br>
                <!--a class="white-text" style="font-size:0.7rem;" href="https://ru.linkedin.com/pub/ann-kharchenko/46/932/691" target="_blank">Code&Design by Anna Kharchenko</a-->
            </div>
        </div>
    </footer>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64879259-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter31309503 = new Ya.Metrika({ id:31309503, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/31309503" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>

</html>
