{% extends "default.html" %} {% block header_links %}
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css">
<script src="/static/js/site.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/plugins/ScrollToPlugin.min.js"></script>

<script src="/static/js/jquery.flexslider.js"></script>
<script src="/static/js/jquery.flexslider.manualDirectionControls.js"></script>
<!-- Place in the <head>, after the three links -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsYsrHdL8CV55wJrgdKAFPfHY-QiUIl7o&sensor=false">
</script>
{% endblock %} {% block content %}
<div class="navbar-fixed">
    <nav class="grey darken-5" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="/" class="brand-logo">
                    <span>Arina Bodina</span>
                    <br>
                    <span class="choreo">хореограф</span>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <div class="nav-wrap right">
                    <div class="runner" style="width:10px; left:0;"></div>
                    <ul class="main-nav right hide-on-med-and-down">
                        <li>
                            <a href="#about" class="scroll-btn">Обо мне</a>
                        </li>
                        <li>
                            <a href="#classes" class="scroll-btn">Направления</a>
                        </li>
                        <li>
                            <a href="#photo" class="scroll-btn">Фото</a>
                        </li>
                        <li>
                            <a href="#video" class="scroll-btn">Видео</a>
                        </li>
                        <li>
                            <a href="#schedule" class="scroll-btn">Расписание</a>
                        </li>
                        <li>
                            <a href="#price" class="scroll-btn">Цены</a>
                        </li>
                        <li>
                            <a href="#contacts" class="scroll-btn">Контакты</a>
                        </li>
                    </ul>
                </div>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="#about" class="scroll-btn">Обо мне</a>
                    </li>
                    <li>
                        <a href="#classes" class="scroll-btn">Направления</a>
                    </li>
                    <li>
                        <a href="#photo" class="scroll-btn">Фото</a>
                    </li>
                    <li>
                        <a href="#video" class="scroll-btn">Видео</a>
                    </li>
                    <li>
                        <a href="#schedule" class="scroll-btn">Расписание</a>
                    </li>
                    <li>
                        <a href="#price" class="scroll-btn">Цены</a>
                    </li>
                    <li>
                        <a href="#contacts" class="scroll-btn">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% include "components/about.html" %}
{% include "components/classes.html" %}
{% include "components/photo.html" %}

<div class="section" id="video">
    <div class="container">
        {% include "components/video.html" %}
        <div class="center">
            <a class="pink lighten-2 waves-effect waves-light btn btn-large btn-all" href="/videos/">Еще видео</a>
        </div>
    </div>
</div>
<div class="back-wrap">
{% include "components/schedule.html" %}
<div class="section center" id="price">
    <div class="container">
        <!--h3 class="section-subtitle pink-text text-lighten-2">м.Сокол</h3-->
        <p style="margin-top:0;">Пробное занятие в группе &mdash; <span class="price">бесплатно</span></p>
        <p>Разовое занятие в группе &mdash; <span class="price">500</span></p>
        <p>Индивидуальное занятие &mdash; <span class="price">1900</span></p>
        <p>Абонемент 8 занятий в месяц &mdash; <span class="price">2900</span></p>
        <p>Абонемент 4 занятия в месяц &mdash; <span class="price">1450</span></p>
        <p>Безлимитный абонемент на месяц &mdash; <span class="price">5555</span></p>
        <!--h3 class="section-subtitle  pink-text text-lighten-2">м.Белорусская</h3>
        <p><a href="http://www.5life.net/prices" class="other-link" target="_blank">http://www.5life.net/prices</a></p-->
    </div>
</div>
</div>
<div class="section no-pad-bot" id="contacts">
    <div class="map-wrap">
        <h4 class=" pink-text text-lighten-2">м.Сокол</h4>
        <div class="contact-overlay-wrap">
            <dl class="contact-overlay white-text">
                <dt class="contact-title">
                    <span class="pink lighten-2">телефон:</span>
                </dt>
                <dd class="contact-desc">+7(964)587 05 37</dd>
                <dt class="contact-title">
                    <span class="pink lighten-2">почта:</span>
                </dt>
                <dd class="contact-desc">
                    <a href="mailto:arina.aleksandrovna@gmail.com" class="white-text">arina.aleksandrovna@gmail.com</a>
                </dd>
                <!--dt class="contact-title">
                    <span class="pink lighten-2">м. Белорусская:</span>
                </dt>
                <dd class="contact-desc">
                    <a href="http://www.5life.net/karta" target="_blank" class="white-text">http://www.5life.net/karta</a>
                </dd-->
                <dt class="contact-title">
                    <span class="pink lighten-2">м. Сокол:</span>
                </dt>
                <dd class="contact-desc">г.Москва, Малый Песчаный переулок, 2а</dd>
            </dl>
        </div>
        <div id="map-canvas"></div>
    </div>
</div>
{% endblock %}
