{% extends "default.html" %} {% block header_links %}
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css">
<script src="/static/js/site.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/plugins/ScrollToPlugin.min.js"></script>

<script src="/static/js/jquery.flexslider.js"></script>
<script src="/static/js/jquery.flexslider.manualDirectionControls.js"></script>
<!-- Place in the <head>, after the three links -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsYsrHdL8CV55wJrgdKAFPfHY-QiUIl7o&sensor=false">
</script>
{% endblock %} {% block content %}
<div class="navbar-fixed">
    <nav class="grey darken-5" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a id="logo-container" href="/" class="brand-logo">
                    <span>Arina Bodina</span>
                    <br>
                    <span class="choreo">хореограф</span>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <div class="nav-wrap right">
                    <div class="runner" style="width:10px; left:0;"></div>
                    <ul class="main-nav right hide-on-med-and-down">
                        <li>
                            <a href="#about" class="scroll-btn">Обо мне</a>
                        </li>
                        <li>
                            <a href="#classes" class="scroll-btn">Направления</a>
                        </li>
                        <li>
                            <a href="#photo" class="scroll-btn">Фото</a>
                        </li>
                        <li>
                            <a href="#video" class="scroll-btn">Видео</a>
                        </li>
                        <li>
                            <a href="#schedule" class="scroll-btn">Расписание</a>
                        </li>
                        <li>
                            <a href="#price" class="scroll-btn">Цены</a>
                        </li>
                        <li>
                            <a href="#contacts" class="scroll-btn">Контакты</a>
                        </li>
                    </ul>
                </div>
                <ul class="side-nav" id="mobile-demo">
                    <li>
                        <a href="#about" class="scroll-btn">Обо мне</a>
                    </li>
                    <li>
                        <a href="#classes" class="scroll-btn">Направления</a>
                    </li>
                    <li>
                        <a href="#photo" class="scroll-btn">Фото</a>
                    </li>
                    <li>
                        <a href="#video" class="scroll-btn">Видео</a>
                    </li>
                    <li>
                        <a href="#schedule" class="scroll-btn">Расписание</a>
                    </li>
                    <li>
                        <a href="#price" class="scroll-btn">Цены</a>
                    </li>
                    <li>
                        <a href="#contacts" class="scroll-btn">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% include "components/about.html" %}
{% include "components/classes.html" %}
{% include "components/photo.html" %}

<div class="section" id="video">
    <div class="container">
        {% include "components/video.html" %}
        <div class="center">
            <a class="pink lighten-2 waves-effect waves-light btn btn-large btn-all" href="/videos/">Еще видео</a>
        </div>
    </div>
</div>
<div class="back-wrap schedule-back-wrap">
{% include "components/schedule.html" %}
</div>
<div class="section center" id="price">
    <div class="container">
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="card-panel pink lighten-2 white-text card-panel-price">
                        <p>Пробное занятие в группе <span class="price-mobile">400 р.</span></p>
                        <p class="price">400 р.</p>
                        <p>Разовое занятие в группе <span class="price-mobile">500 р.</span></p>
                        <p class="price">500 р.</p>
                        <p class="duration">За 1 занятие по 1 часу</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card-panel pink lighten-2 white-text card-panel-middle card-panel-price">
                        <p>Индивидуальное занятие  <span class="price-mobile">1500 р.</span></p>
                        <p class="price">1500 р.</p>
                        <p class="duration">За 1 занятие по 1 часу</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="card-panel pink lighten-2 white-text card-panel-price">
                        <p>Абонемент на 4 занятия  <span class="price-mobile">1500 р.</span></p>
                        <p class="price">1500 р.</p>
                        <p>Абонемент на 8 занятий  <span class="price-mobile">3000 р.</span></p>
                        <p class="price">3000 р.</p>
                        <p class="duration">За 1 занятие по 1 часу</p>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="section no-pad-bot center" id="contacts">
    <div class="container">
        <div class="row map-wrap">
                <div class="col s12 m12 l6">
                  <div class="metro-title">м.Аэропорт</div>
                  <div id="map-canvas-left"></div>
                  <div class="metro-address">г.Москва, Черняховского 19</div>
                </div>
                <div class="col s12 m12 l6">
                  <div class="metro-title">м.Арбатская</div>
                  <div id="map-canvas-right"></div>
                  <div class="metro-address">г.Москва, Новый Арбат, 7 корп.1, 6й этаж</div>
                </div>
        </div>
    </div>
    <div class="back-wrap phone-mail-back-wrap">
        <div class="phone-mail white-text">
            <span class="phone">телефон: +7(964)587 05 37</span>
            <span>почта: <a href="mailto:arina.aleksandrovna@gmail.com" >arina.aleksandrovna@gmail.com</a></span>
        </div>
    </div>

                <dl class="contact-overlay white-text">
                    <dt class="contact-title">
                        <span class="pink lighten-2">телефон:</span>
                    </dt>
                    <dd class="contact-desc">+7(964)587 05 37</dd>
                    <dt class="contact-title">
                        <span class="pink lighten-2">почта:</span>
                    </dt>
                    <dd class="contact-desc">
                        <a href="mailto:arina.aleksandrovna@gmail.com" class="white-text">arina.aleksandrovna@gmail.com</a>
                    </dd>
                    <dt class="contact-title">
                        <span class="pink lighten-2">м. Аэропорт:</span>
                    </dt>
                    <dd class="contact-desc">
                        <a href="https://www.google.ru/maps/dir/55.7998577,37.5343552/55.808114,37.539338/@55.8039115,37.5339892,16z/data=!3m1!4b1" target="_blank" class="white-text">г.Москва, Черняховского, 19</a>
                        <i class="tiny material-icons white-text">location-on</i>
                    </dd>
                    <dt class="contact-title">
                        <span class="pink lighten-2">м. Арбатская:</span>
                    </dt>
                    <dd class="contact-desc">
                        <a href="http://www.dancefirst.ru/shkola-tancev-arbatskaya" target="_blank" class="white-text">г.Москва, Новый Арбат, 7 корп.1, 6й этаж</a>
                        <i class="tiny material-icons white-text">location-on</i>
                    </dd>
                </dl>

</div>
{% endblock %}
