{% extends "default.html" %} 
{% block content %}
<div class="navbar-fixed">
    <nav class="grey darken-5" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <div class="nav-wrap left">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                    </ul>

                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="/">Главная</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="section no-pad-bot">
    <div class="container">
        {% include "components/albums-list.html" %}
    </div>
</div>
{% endblock %}
