<div class="section no-pad-bot" id="classes">
  <div class="container">
    <h4 class="classes-title pink-text text-lighten-2">Для взрослых</h4>
    <div class="row classes-row">
          <article class="col s12 m6">
              <img src="static/img/classes/3.jpg" class="responsive-img circle classes-img">
              <div class="classes-elem">
                <h5 class="classes-name">Классический танец</h5>
                <h6 class="classes-subtitle">[Балет для взрослых]</h6>
                <p class="classes-desc">Балет — выбор любителей классики. Веками выработанная система «па», строгая и логичная, дисциплинирует разум, приводит в форму тело, закаляет характер. Утончённость классического танца воспитывает в человеке изящество и чувство вкуса.</p>
              </div>
          </article>
          <article class="col s12 m6">
              <img src="static/img/classes/4.jpg" class="responsive-img circle classes-img">
              <div class="classes-elem">
                <h5 class="classes-name">Зумба</h5>
                <h6 class="classes-subtitle">[Zumba]</h6>
                <p class="classes-desc">Танцевальная финтес-программа на латиноамериканских ритмах задействует все группы мышц, сообщая организму поочерёдно силовую, аэробную, и интервальную нагрузки. Эффективное средство от депрессии и лишнего веса в одном флаконе!</p>
              </div>
            
          </article>
          <article class="col s12 m6">
              <img src="static/img/classes/2.jpg" class="responsive-img circle classes-img">
              <div class="classes-elem">
                <h5 class="classes-name">Растяжка</h5>
                <h6 class="classes-subtitle">[Stretching]</h6>
                <p class="classes-desc">Комплекс упражнений на развитие гибкости и растяжки. Кроме возможности сесть на шпагат, занятия стретчингом улучшают кровоснабжение, насыщая мышцы кислородом и питательными веществами, делая их подтянутыми и эластичными.</p>
              </div>
          </article>
          <article class="col s12 m6">
              <img src="static/img/classes/1.jpg" class="responsive-img circle classes-img">
              <div class="classes-elem">
                <h5 class="classes-name">Пилатес</h5>
                <h6 class="classes-subtitle">[Pilates]</h6>
                <p class="classes-desc">Система танцевальных упражнений Джозефа Пилатеса для восстановления естественных изгибов спины, перебалансировки мышц вокруг суставов. Пилатес вырабатывает красивую осанку, пластику движений, укрепляет мышцы позвоночника. </p>
              </div>
          </article>
          <article class="col s12 m6">
              <img src="static/img/classes/1.jpg" class="responsive-img circle classes-img">
              <div class="classes-elem">
                <h5 class="classes-name">Свадебный танец</h5>
                <h6 class="classes-subtitle">[Wedding dance]</h6>
                <p class="classes-desc">Постановка парного танца для свадебной церемонии. Ваша свадьба станет по-настоящему уникальной, неповторимой и незабываемой. Записанный на видео, ваш свадебный танец будет дарить тепло трогательных воспоминаний ещё долгие годы. </p>
              </div>
          </article>
    </div>
    <h4 class="classes-title pink-text text-lighten-2">Для детей</h4>
    <div class="row classes-row">
          <article class="col s12 m6">
              <img src="static/img/classes/5.jpg" class="responsive-img circle classes-img">
              <div class="classes-elem">
                <h5 class="classes-name">Классический танец</h5>
                <h6 class="classes-subtitle">[Основы хореографии для детей]</h6>
                <p class="classes-desc">Эта развлекательная, эффективная танцевальная фитнес-вечеринка с простыми для выполнения движениями в латиноамериканском стиле помогает миллионам людей сжигать калории и получать удовольствие.</p>
              </div>
          </article>
          <article class="col s12 m6">
              <img src="static/img/classes/6.jpg" class="responsive-img circle classes-img">
              <div class="classes-elem">
                <h5 class="classes-name">Ритмика для детей 3-6 лет</h5>
                <h6 class="classes-subtitle">[Партерная гимнастика]</h6>
                <p class="classes-desc">Эта развлекательная, эффективная танцевальная фитнес-вечеринка с простыми для выполнения движениями в латиноамериканском стиле помогает миллионам людей сжигать калории и получать удовольствие.</p>
              </div>
          </article>
    </div>
  </div>
</div>