<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Arina Bodina</title>
    <!-- CSS  -->
    <link href="/static/css/customfont.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href='http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic' rel='stylesheet' type='text/css'>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script-->
    <script type="text/javascript" src="/static/js/materialize.js"></script>
    {% block header_links %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <footer class="page-footer pink lighten-2">
            <div class="row">
                <div class="container">
                <div class="col s12 m6 l3">
                    <div class="footer-img-wrap">
                        <img src="/static/img/arina/1.png" class="responsive-img">
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <h5 class="white-text footer-subtitle">Для взрослых</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Зумба</a></li>
                        <li><a class="white-text" href="#!">Пилатес</a></li>
                        <li><a class="white-text" href="#!">Классический танец</a></li>
                        <li><a class="white-text" href="#!">Растяжка</a></li>
                        <li><a class="white-text" href="#!">Народные танцы</a></li>
                    </ul>
                </div>
                <div class="col s12 m6 l3">
                    <h5 class="white-text footer-subtitle">Для детей</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Классический танец</a></li>
                        <li><a class="white-text" href="#!">Партерная гимнастика</a></li>
                        <li><a class="white-text" href="#!">Ритмика</a></li>
                    </ul>
                </div>
                <div class="col s12 m6 l3">
                    <h5 class="white-text footer-subtitle">Присоединяйтесь</h5>
                    <ul class="socials">
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://instagram.com/arina_body/" target="_blank">
                                <img src="/static/img/socials/inst.svg"> 
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://www.facebook.com/groups/arinabodina/" target="_blank">
                                <img src="/static/img/socials/fb.svg"> 
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="https://vk.com/club15081804" target="_blank">
                                <img src="/static/img/socials/vk.svg"> 
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="sharing-link white-text" href="http://www.youtube.com/channel/UCdRDrcDrhC5n8TY9-JuycXQ" target="_blank">
                                <img src="/static/img/socials/yt.svg"> 
                            </a>
                        </li>
                    </ul>
                </div>
                    
                </div>
            </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; Арина Бодина
            </div>
        </div>
    </footer>
</body>

</html>
