<div class="section about-text" id="about">
    <img src="static/img/arina/top.jpg" class="responsive-img">
    <div class="container">
        <p>Арина Бодина, педагог-хореограф с 10-летним стажем. Художественный руководитель студии «Территория гармонии» и школы 5Life. Профессионально работает с детьми и взрослыми. Автор программы «Патерная гимнастика и ритмика» для дошкольников.</p>
        <p>Проводит регулярные занятия и мастер-классы по <a href="#classes" class="scroll-btn">Пилатесу</a> (Pilates), <a href="">Растяжке</a> (Stretching), <a href="">Классическому танцу</a> (Балет для взрослых) , <a href="">Зумбе</a> (Zumba), <a href="">Народным танцам</a> (Танцы народов мира). Постановщик свадебных танцев. Занимается подготовкой к поступлению в творческие вузы.</p>
        <p>В течении преподавательской карьеры поставила более 100 танцевальных номеров. Лауреат фестивалей танца в Москве, Санкт-Петербурге, Чебоксарах. Солистка ансамбля «Ровесник», успешно гастролировавшего по городам России и Европы.
        </p>
    </div>
</div>
<div class="section pink lighten-2 white-text">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8">
                <p>Возможно, вы думаете, что танцы — это не для вас. Быть может, ещё в детстве вас убедили, что вы человек неловкий, неуклюжий, что у вас нет чувства ритма или у вас плохой музыкальный слух. Я, Арина Бодина, ответственно вам на это заявляю: это всё глупости! Существует огромное количество людей, не умеющих танцевать, но нет ни одного, кто не мог бы этому научиться. </p>
                <blockquote> Я в таких случаях всегда говорю: если поймешь, что хочешь заниматься танцем, то будешь делать такие вещи, какие казались совершенно невозможными раньше!</blockquote>
                <p>
                    Тем, кого одолевают сомнения и страхи, настоятельно советую просто прийти и попробовать. Вы позабудете о своей неуверенности, как только увидите свои первые успехи. И ещё немало удивитесь, когда поймёте, какой вы на самом деле человек грациозный, ловкий и гибкий.
                </p>
                <p>
                    Наша студия — это место отдыха души и тела. Но не пассивного лежания на боку в попытках восстановить силы. Нет, это отдых в движении, отдых в танце, который даёт больше энергии, чем забирает. Это выход на иной уровень энергетики и силы. Приходите, и убедитесь сами. Я и мои ученики — мы будем рады видеть вас, и с удовольствием примем в нашу дружную непоседливую семью.
                </p>
            </div>
            <div class="col s12 m12 l4">
                <img src="static/img/arina/01.jpg" class="responsive-img">
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
