<div class="section" id="photo">
    <div class="container">
        <div class="flexslider photo-carousel" style="margin-bottom:5%;">
            <a class="btn-nav btn-prev btn-floating btn-large waves-effect waves-light grey darken-5"><i class="mdi-hardware-keyboard-arrow-left"></i></a>
            <ul class="slides">
                {% for photo in slidesPhotos %}
                <li class="slides-item">
                    <img src="{{ photo.image.url }}" class="responsive-img" />
                </li>
                {% endfor %}
            </ul>
            <a class="btn-nav btn-next btn-floating btn-large waves-effect waves-light grey darken-5"><i class="mdi-hardware-keyboard-arrow-right"></i></a>
        </div>
        <h4>Альбомы</h4> {% include "components/albums-list.html" %}
        <div style="text-align:center;">
            <a class="pink lighten-2 waves-effect waves-light btn-large btn-all" href="/albums/">Все альбомы</a>
        </div>
    </div>
</div>
