<div class="section" id="schedule">
    <div class="container">
        <h5>Расписание</h5>
    </div>
    <div class="week-day-mobile grey darken-5">
        <div class="container">
            <ul class="tabs">
                <li class="tab"><a class="active" href="#schedule-monday">Пн</a></li>
                <li class="tab"><a href="#schedule-tuesday">Вт</a></li>
                <li class="tab"><a href="#schedule-wednesday">Ср</a></li>
                <li class="tab"><a href="#schedule-thursday">Чт</a></li>
                <li class="tab"><a href="#schedule-friday">Пт</a></li>
                <li class="tab"><a href="#schedule-saturday">Сб</a></li>
                <li class="tab"><a href="#schedule-sunday">Вс</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="schedule-mobile">
            <p class="pink-text text-lighten-2">м.Сокол</p>
            <div class="schedule-content" id="schedule-monday">
                <div class="schedule-course">
                    <span class="class-title">Растяжка</span>
                    <span class="class-time">21.00—22.00</span>
                </div>
            </div>
            <div class="schedule-content" id="schedule-tuesday">
                <div class="schedule-course">
                    <span class="class-title">Зумба</span>
                    <span class="class-time">20.00—21.00</span>
                </div>
                <div class="schedule-course">
                    <span class="class-title">Растяжка</span>
                    <span class="class-time">21.00—22.00</span>
                </div>
            </div>
            <div class="schedule-content" id="schedule-wednesday">
                <div class="schedule-course">
                    <span class="class-title">Зумба</span>
                    <span class="class-time">20.00—21.00</span>
                </div>
                <div class="schedule-course">
                    <span class="class-title">Растяжка</span>
                    <span class="class-time">21.00—22.00</span>
                </div>
            </div>
            <div class="schedule-content" id="schedule-thursday">
                <div class="schedule-course">
                    <span class="class-title">Зумба</span>
                    <span class="class-time">20.00—21.00</span>
                </div>
                <div class="schedule-course">
                    <span class="class-title">Растяжка</span>
                    <span class="class-time">21.00—22.00</span>
                </div>
            </div>
            <div class="schedule-content" id="schedule-friday">
                <div class="schedule-course">
                    <span class="class-title">Зумба</span>
                    <span class="class-time">20.00—21.00</span>
                </div>
                <div class="schedule-course">
                    <span class="class-title">Растяжка</span>
                    <span class="class-time">21.00—22.00</span>
                </div>
            </div>
            <div class="schedule-content" id="schedule-saturday">
                <div class="schedule-course">
                    <span class="class-title">Зумба</span>
                    <span class="class-time">20.00—21.00</span>
                </div>
                <div class="schedule-course">
                    <span class="class-title">Растяжка</span>
                    <span class="class-time">21.00—22.00</span>
                </div>
            </div>
            <div class="schedule-content" id="schedule-sunday">
                <div class="schedule-course">
                    <span class="class-title">Зумба</span>
                    <span class="class-time">20.00—21.00</span>
                </div>
                <div class="schedule-course">
                    <span class="class-title">Растяжка</span>
                    <span class="class-time">21.00—22.00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="schedule-table bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Восресенье</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="pink-text text-accent-2">м.Сокол</span>
                    </td>
                    <td>
                        <span class="class-title">Зумба</span>
                        <span class="class-time">20.00—21.00</span>
                        <span class="class-title">Растяжка</span>
                        <span class="class-time">21.00—22.00</span>
                    </td>
                    <td>
                        <span class="class-title">Балет</span>
                        <span class="class-time">19.30—21.00</span>
                        <span class="class-title">Пилатес</span>
                        <span class="class-time">21.00—22.00</span>
                    </td>
                    <td>
                        <span class="class-title">Зумба</span>
                        <span class="class-time">20.00—21.00</span>
                        <span class="class-title">Растяжка</span>
                        <span class="class-time">21.00—22.00</span>
                    </td>
                    <td>
                        <span class="class-title">Зумба</span>
                        <span class="class-time">20.00—21.00</span>
                        <span class="class-title">Пилатес</span>
                        <span class="class-time">21.00—22.00</span>
                    </td>
                    <td>
                        <span class="class-title">Пилатес</span>
                        <span class="class-time">21.00—22.00</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <span class="pink-text text-accent-2">м.Белорусская</span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="class-title">Пилатес</span>
                        <span class="class-time">11.00—12.00</span>
                        <span class="class-title">Растяжка</span>
                        <span class="class-time">12.00—13.00</span>
                        <span class="class-title">Балет</span>
                        <span class="class-time">13.00—15.00</span>
                    </td>
                    <td>
                        <span class="class-title">Пилатес</span>
                        <span class="class-time">11.00—12.00</span>
                        <span class="class-title">Растяжка</span>
                        <span class="class-time">12.00—13.00</span>
                        <span class="class-title">Балет</span>
                        <span class="class-time">13.00—15.00</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
